@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'Julius Sans One';
  src: url('../../public/fonts/JuliusSansOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../../public/fonts/CrimsonText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Julius Sans One', sans-serif;
}

